h1 {
    font-family: "Space Mono", monospace;
    /* font-size: clamp(3rem, 10vw, 10rem); */
    color: white;
    /* padding: 0rem clamp(0rem, 0vw, 0rem); */
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

h1:hover {
    background-color: transparent;
    color: white;
}

.pad {
    padding-right: 2px;
}
